[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B07ACEBF7ACE8218]
row=4
col=0

[CAA4EF71A4EF5F07]
row=1
col=0

[f109a1d4-5d5f-4b81-b4c2-739a16c3057f]
row=0
col=0

[Papirkurv]
row=5
col=0

[/]
row=2
col=0

[/home/raven]
row=3
col=0

